<%- include('partials/header.ejs') %>

<body>
    <!-- <img class="img-fluid" src="images/im2.JPG"> -->
    <nav class="navbar navbar-dark navbar-expand-sm  fixed-top">
        <div class="container">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand mr-auto" href="/index"><img src="https://i.postimg.cc/Hk3wgCzB/logos.png" height="30" width="41"></a>

            <div class="collapse navbar-collapse" id="Navbar">
                
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="/index"><span class="fa fa-home fa-lg"></span>
                            Home</a></li>
                    <li class="nav-item "><a class="nav-link" href="/about"><span
                                class="fa fa-info fa-lg"></span> About</a></li>
                    
                    
                </ul>

            </div>

        </div>
    </nav>


<<<<<<< HEAD
=======
    


>>>>>>> 3d38f1dbb6f029e03a7f4ecd6ef294c7dc61109e
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-2 align-self-left align-self-center">
                    <img src="https://i.postimg.cc/Hk3wgCzB/logos.png" class="img-fluid">
                </div>
                <div class="col-12 col-sm-10">
                    <h1>G-Class</h1>
                    <p>Share the story of your classroom with families
                        Instantly share photos, videos, and announcements on Class Story, or privately message with any parent 😍
                        Parents easily join your class using any device
                    </p>
                </div>
                
                <!-- <div class="col-12 col-sm align-self-right align-self-center">
                    <button type="submit" class="btn btn-warning"><a href="#here">
                            <bold>Reserve Table</bold>
                        </a></button>
                </div> -->
            </div>
        </div>
    </header>






<% for(let fb of feedbacks){ %>
	
	<div class="border border-danger border-sm m-5 p-5">
		<p>
			<b>NAME:</b> <%= fb.username.toUpperCase() %>
		</p>
		<p>
			<b>Address:</b> <%= fb.areacode %>
		</p>
		<p>
			<b>Telephone:</b> <%= fb.phone %>
		</p>
		<p>
			<b>Email:</b> <%= fb.email_id %>
		</p>
		<p>
			<b>FEEDBACK:</b> <%= fb.about.toUpperCase() %>
		</p>
	</div>

<% } %>



<%- include("partials/footer.ejs") %>